.text-center{
    text-align: center;
}

*{
    margin: 0px;
    padding: 0px;
}

.paginator{
    margin-top: 50px;
    justify-content: center;
    display: flex;   
    background-color: aliceblue; 
    width:  50vw;
}

.ul-paginator{    
    overflow: hidden !important;
    display: flex;
    justify-content: space-around;
    width: auto;
    list-style: none;
}

.ul-paginator li{
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
}

.ul-paginator li a{
    text-align: center;
}

.paginator-show{
    padding-top: 25px;
    padding-bottom: 25px;
}


li.disabled{
    opacity: 0.5;
    pointer-events: none;    
}

.active{
    background-color: deepskyblue;
}