<h1> Lista de Pessoas </h1>

<button (click)="cadastrarNovo()"> Cadastrar Novo </button>

<div *ngIf="totalResultado" class="paginator-show">
  <h2> Total de {{ totalResultado }} registros!</h2>
</div>

<table border="1">
  <thead>
    <th>#</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Editar</th>
    <th>Excluir</th>
  </thead>
  <tbody *ngFor="let pessoa of pessoas">
    <tr>
      <td>{{ pessoa.idPessoa }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.email }}</td>
      <td> <button (click)="alterarPessoa(pessoa.idPessoa)" style="background-color: lightblue;"> Editar </button> </td>
      <td> <button (click)="deletePessoa(pessoa.idPessoa)" style="background-color: lightcoral;"> Excluir </button></td>
    </tr>
  </tbody>
  <tfoot *ngIf="pessoas.length == 0">
    <td colspan="5">
      <p class="text-center">Não há usuários cadastrados!</p>
    </td>
  </tfoot>
</table>

<div class="paginator">
  <ul class="ul-paginator">

    <li *ngIf="pessoas.length > 0" [class.disabled]="page == 0" (click)="AtualizarLista((page=page-1), take)">
      <a>Anterior</a>
    </li>

    <li *ngFor="let num of totalToArray" (click)="AtualizarLista(page=(num-1), take)">
      <a>{{ num }}</a>
    </li>

    <li *ngIf="totalPagina! >= 7" class="disabled">
      <a> ...</a>
    </li>

    <li *ngIf="pessoas.length > 0" [class.disabled]="page >= (totalPagina!-1)"
      (click)="AtualizarLista((page=page+1), take)">
      <a>Próximo</a>
    </li>
    
  </ul>
</div>